<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %thread [%level] %m%n" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/root.log</file>  
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
		    <fileNamePattern>log/root.log.%i</fileNamePattern>  
		    <minIndex>1</minIndex>
		    <maxIndex>50</maxIndex>
		</rollingPolicy>
    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        	<maxFileSize>20MB</maxFileSize>      
        </triggeringPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>	
	
	<appender name="simple" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/simple.log</file>  
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/simple.log.%d{yyyyMMdd}.%i</fileNamePattern>  
        	<maxFileSize>20MB</maxFileSize>      
        	<maxHistory>60</maxHistory>  
        	<totalSizeCap>2GB</totalSizeCap> 
       </rollingPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>
	
	<appender name="multi" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/multi.log</file>  
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/multi.log.%d{yyyyMMdd}.%i</fileNamePattern>  
        	<maxFileSize>20MB</maxFileSize>      
        	<maxHistory>60</maxHistory>  
        	<totalSizeCap>2GB</totalSizeCap> 
       </rollingPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>
	
	<appender name="batch" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/batch.log</file>  
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/batch.log.%d{yyyyMMdd}.%i</fileNamePattern>  
        	<maxFileSize>20MB</maxFileSize>      
        	<maxHistory>60</maxHistory>  
        	<totalSizeCap>2GB</totalSizeCap> 
       </rollingPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>
	
	<appender name="complete" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/complete.log</file>  
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/complete.log.%d{yyyyMMdd}.%i</fileNamePattern>  
        	<maxFileSize>20MB</maxFileSize>      
        	<maxHistory>60</maxHistory>  
        	<totalSizeCap>2GB</totalSizeCap> 
       </rollingPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>
	
	<appender name="timeout" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/timeout.log</file>  
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/timeout.log.%d{yyyyMMdd}.%i</fileNamePattern>  
        	<maxFileSize>20MB</maxFileSize>      
        	<maxHistory>60</maxHistory>  
        	<totalSizeCap>2GB</totalSizeCap> 
       </rollingPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>
	
	<appender name="cancel" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/cancel.log</file>  
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/cancel.log.%d{yyyyMMdd}.%i</fileNamePattern>  
        	<maxFileSize>20MB</maxFileSize>      
        	<maxHistory>60</maxHistory>  
        	<totalSizeCap>2GB</totalSizeCap> 
       </rollingPolicy>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
      		<pattern>${pattern}</pattern>  
    	</encoder>  
	</appender>

	<root level="info">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="root" />
	</root>
	
	<logger name="com.fom.demo.schedules.simple" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="simple" />
	</logger>
	
	<logger name="com.fom.demo.schedules.multi" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="multi" />
	</logger>
	
	<logger name="com.fom.demo.schedules.batch" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="batch" />
	</logger>
	
	<logger name="com.fom.demo.schedules.complete" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="complete" />
	</logger>
	
	<logger name="com.fom.demo.schedules.timeout" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="timeout" />
	</logger>
	
	<logger name="com.fom.demo.schedules.cancel" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="cancel" />
	</logger>
	
</configuration>